/* #2b6777 #c8d8e4 #ffffff #f2f2f2 #52ab98 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
}
.btn-primary{
    background-color: #52ab98 !important;
    border: #52ab98;
    width: 100% !important;
}

.fikisha-primary{
    background-color: #52ab98 !important;
    color: white !important;
}

.action-list .nice-select {
    line-height: 30px;
    border-radius: 50px;
    color: #fff;
    float: inherit;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    clear: both;
    /* cursor: pointer; */
    transition: all .2s ease-in-out;
}
.action-list .process {
    width: inherit;
    height: inherit;
    border: 0px;
    display: inline-block;
    background: #2d3274;
    color: #fff;
    margin: 2px 2px;
}

.action-list .nice-select .list {
    background: #2d3274;
}
.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}
.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1pxrgba(68,68,68,.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-21px);
    -ms-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5,0,0,1.25),opacity .15s ease-out;
    z-index: 9;
}
.drop-success {
    background-color: #007E33 !important;
}
.drop-warning {
    background-color: #FF8800 !important;
}
.drop-secondary {
    background-color: #858796
    !important;
}